@use "@styles/settings/variables" as  *;

.switch {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  &__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  &__slider {
    cursor: pointer;

    position: absolute;
    inset: 0;

    background-color: $royal-health;
    border-radius: 34px;

    transition: 0.4s;

    &::before {
      content: "";

      position: absolute;
      bottom: 4px;
      left: 4px;

      width: 26px;
      height: 26px;

      background-color: $bright-gray;
      border-radius: 50%;

      transition: 0.4s;
    }

    &::after {
      content: "Show used technologies";

      position: absolute;
      top: 0;
      bottom: 0;
      left: 105%;

      width: 250px;
      height: fit-content;
      margin: auto;
    }
  }

  &__checkbox {
    width: 0;
    height: 0;
    opacity: 0;


    &:checked + .switch__slider {
      background-color: $royal-health-40;

      &::before {
        transform: translateX(26px);
      }
    }

    &:checked + .switch__slider::after {
      content: "Hide used technologies";
    }

    &:focus + .switch__slider {
      box-shadow: 0 0 1px $royal-health-40;
    }
  }
}