@use "@styles/settings/variables" as  *;

.social__item {
  .item {
    line-height: 0;

    &__link {
      display: flex;
      align-items: center;

      padding: 5px;

      color: unset;
      text-decoration: none;

      border-radius: 50%;

      &:hover {
        background-color: $amaranth-deep-purple;
      }
    }
  }
}