@use "@styles/settings/variables" as  *;

.social__item {
  .item {
    line-height: 0;

    &__link {
      display: block;
      color: unset;
      text-decoration: none;

      &:hover {
        color: $liberty;
        border-color: $liberty;
      }
    }
  }
}