---
import Layout from "@layouts/Layout.astro";
import "@styles/pages/not-found/_index.scss"
---

<Layout seoID="not-found" addFooter addHeadAnalytics addBodyAnalytics>
    <main>
        <div class="wrapper">
            <div class="not-found__content">
                <h1>404</h1>
                <p>Sorry, the page you are looking for could not be found.</p>
                <a href="/" class="button">Go Home</a>
            </div>
            <figure class="not-found__img">
                <img src="/assets/images/not-found/undraw_monitor_iqpq.svg" alt="">
            </figure>
        </div>
    </main>
</Layout>