---
import Layout from "@layouts/Layout.astro";
import "@styles/pages/not-found/_index.scss"
---

<Layout seoID="not-found">
    <main class="wrapper">
        <img src="/assets/images/not-found/undraw_monitor_iqpq.svg" alt="">
        <h1>404</h1>
        <p>Sorry, the page you are looking for could not be found.</p>
    </main>
</Layout>