---
import Hero from '@components/Hero/Hero.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout seoID='home' addHeader addFooter>
	<main>
		<Hero lang="en" />
		<section class="about" id="about">

		</section>
	</main>
</Layout>