@use "@styles/settings/variables" as  *;

.interest {
  display: inline-block;

  box-sizing: border-box;
  width: 48%;
  margin-bottom: 20px;
  padding: 10px;

  text-align: center;

  background-color: $chinese-black;
  border-radius: 20px;

  &__icon {
    width: 30px;
  }

  &__title {
    margin: 0;
  }

  &__description {
    font-size: 12px;
  }

  @media screen and (min-width: 600px) {
    width: 31%;
  }

}