@use "@styles/settings/variables" as  *;

.page-section {
  &#about {
    min-height: auto;

    ul {
      margin: 0;
      padding-left: 20px;
      list-style: none;
    }

    h4 {
      margin: 15px 0 5px;
    }
  }
}

.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    padding-right: 20px;
  }
}