---
import type { HeaderItem } from '@scripts/types/types.ts';

type Props = HeaderItem

const {ariaLabel, iconClassNames, menuText, href, ...attrs } = Astro.props;
---

<li class:list={["header__item"]}>
  <a class="item__link" href={href} aria-label={ariaLabel} {...attrs}>
      <i class:list={['item__icon', iconClassNames]}></i>
      <span class="item__text">{menuText}</span>
  </a>
</li>