@use "@styles/settings/variables" as *;

$icons: 'briefcase',
        'code',
        'codepen',
        'dev-to',
        'envelope',
        'film',
        'font-awesome',
        'gamepad',
        'github',
        'hashnode',
        'headphones',
        'house',
        'laptop-code',
        'linkedin',
        'pencil',
        'soccer',
        'tv',
        'user',
        'x-twitter',
        'pdf',
        'typescript';
$tech-icons: 'typescript',
              'svgl',
              'astro',
              'css',
              'javascript',
              'html';

.icon {
  display: inline-block;

  width: 16px;
  height: 16px;

  background-color: $ghost-white;

  mask-clip: content-box;
  mask-origin: content-box;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

@each $icon in $icons {
  .icon--#{$icon} {
    mask-image: url('/assets/icons/#{$icon}.svg');
  }
}

.tech-icon {
  display: inline-block;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // border: 1px solid $ghost-white;
}

@each $icon in $tech-icons {
  .tech-icon--#{$icon} {
    background-image: url('/assets/icons/#{$icon}.svg');
  }
}