/* Colors */
$black-olive: #404040;
$dark-gunmetal: #1f2326;
$charleston-green: #252a30;
$white: #fff;
$ghost-white: #f9f9f9;
$many: #133713;
$some: #6e6e14;
$few: #4e0511;
$liberty: #4f62aa;

/* New Color Palette */
$chinese-black: #120A1A;
$cyber-grape: #513B76;
$dark-purple: #2B1740 ;
$russian-violet: #2A0944;
$american-purple: #3B185F;
$amaranth-deep-purple: #A12568;
$orange-yellow-crayola: #FEC260;
$bright-gray: #EAE8ED;

/* New Color Palette */
$royal-health: #A32B69;
$royal-health-20: #822254;
$royal-health-40: #621a3f;

/* Fonts */
$font-kufam: "Kufam", sans-serif;
$font-niramit: "Niramit", sans-serif;
$font-montserrat: "Montserrat Alternates", sans-serif;
