---
import "../styles/style.scss";
import AstroSEO from "@components/AstroSEO/AstroSEO.astro";
interface Props {
	title: string;
	lang?: string;
	seoID?: string;
}

const { title, lang = 'en', seoID = 'default' } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<AstroSEO seoID={seoID} lang={lang} iconType="ico" />
		<link href="/assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
		<slot name="page-styles"></slot>
	</head>
	<body>
		<slot />
	</body>
	<slot name="page-scripts"></slot>
	<script src="../scripts/script.js"></script>
</html>